# --- CONTAINERS ---
CONTAINER_TOOL=docker
CONTAINER_ORCHESTRATION_TOOL=docker-compose

# --- CADDY ---

CADDY_HTTP_HOST_PORT=7080
CADDY_HTTPS_HOST_PORT=7443
DOMAINS=

# --- FRONTEND ---

FRONTEND_HOST_PORT=7771
FRONTEND_INTERNAL_PORT=3000
NODE_ENV=

# --- BACKEND ---

BACKEND_HOST_PORT=7772
BACKEND_INTERNAL_PORT=4000
JWT_ALGORITHM=HS256
JWT_KEY=
JWT_EXPIRATION_MINUTES=30
ENABLE_GC_PRESSURE_TEST=false
ENABLE_SCHEDULER_PRESSURE_TEST=false
ADMIN_PASSWORD=

# --- PROMETHEUS ---

PROMETHEUS_EXTERNAL_URL=https://localhost:7443/prometheus/

# --- GRAFANA ---

GRAFANA_ROOT_URL=https://localhost:7443/grafana/
GRAFANA_ADMIN_USER=
GRAFANA_ADMIN_PASSWORD=

# --- POSTGRES ---

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_HOST_PORT=7773
POSTGRES_INTERNAL_PORT=5432
