# --- CONTAINERS ---
CONTAINER_TOOL=docker
CONTAINER_ORCHESTRATION_TOOL=docker-compose

# --- CADDY ---

CADDY_HTTP_HOST_PORT=7080
CADDY_HTTPS_HOST_PORT=7443
# CADDY_HTTP_DOMAINS=:80
# CADDY_HTTPS_DOMAINS=

# --- FRONTEND ---

FRONTEND_HOST_PORT=7771
FRONTEND_INTERNAL_PORT=3000
NODE_ENV=production

# --- BACKEND ---

BACKEND_HOST_PORT=7772
BACKEND_INTERNAL_PORT=4000
JWT_ALGORITHM=HS256
JWT_KEY=UwjiIFQSHUxmd2h5JT4u3B6TDW1aq3E4tZd2onxMhbc=
JWT_EXPIRATION_MINUTES=30
ENABLE_GC_PRESSURE_TEST=false
ENABLE_SCHEDULER_PRESSURE_TEST=false
ADMIN_PASSWORD=securepass

# --- PROMETHEUS ---

PROMETHEUS_HOST_PORT=9090

# --- GRAFANA ---

GRAFANA_ROOT_URL=https://localhost:7443/grafana/
GRAFANA_ADMIN_USER=grafana_dev
GRAFANA_ADMIN_PASSWORD=change-me-before-running

# --- POSTGRES ---

POSTGRES_USER=ft_transcendence_user
POSTGRES_PASSWORD=greenblueredyellow
POSTGRES_DB=ft_transcendence
POSTGRES_HOST=postgres
POSTGRES_HOST_PORT=7773
POSTGRES_INTERNAL_PORT=5432
