{
	skip_install_trust
	http_port 7080
	https_port 7443
}

# Setting HTTP_DOMAINS? to null (empty string) will NOT trigger default replacement!
# Unset the the variable instead if you want the default value.
# https://caddyserver.com/docs/caddyfile/concepts#environment-variables
{$DOMAINS:https://localhost http://localhost} {
	handle /api/* {
		reverse_proxy backend:{$BACKEND_PORT}
	}

	handle /openapi.json {
		reverse_proxy backend:{$BACKEND_PORT}
	}

	handle /docs {
		reverse_proxy backend:{$BACKEND_PORT}
	}

	handle /health {
		respond "OK" 200
	}

	handle /grafana* {
		route {
			@plainHttp protocol http
			redir @plainHttp https://localhost:{$CADDY_HTTPS_HOST_PORT:7443}{uri}

			redir /grafana /grafana/

			reverse_proxy grafana:3000
		}
	}

	handle {
		reverse_proxy frontend:{$FRONTEND_PORT}
	}
}
