# Setting HTTP_DOMAINS? to null (empty string) will NOT trigger default replacement!
# Unset the the variable instead if you want the default value.
# https://caddyserver.com/docs/caddyfile/concepts#environment-variables
{$DOMAINS:http://localhost https://localhost} {
    handle /api/* {
        reverse_proxy backend:{$BACKEND_PORT}    
    }

    handle /auth/* {
        reverse_proxy backend:{$BACKEND_PORT}    
    }

    handle /openapi.json {
        reverse_proxy backend:{$BACKEND_PORT}
    }

    handle /docs {
        reverse_proxy backend:{$BACKEND_PORT}
    }

    handle /health {
        respond "OK" 200
    }

    handle {
        reverse_proxy frontend:{$FRONTEND_PORT}
    }
}
